<!DOCTYPE html>
<html>
    <head>
        <title>Faculty - Grades</title>
    </head>
    <body>
        <link rel="stylesheet" th:href="@{/css/style-faculty.css}">
        <h1>Grade Management</h1>
        <p>Grade management functionality can be extended here 
            to assign and update student grades</p>
        <form th:action="@{/dashboard}" method="get">
        <button>Back to Dashboard</button>
    </form>
        <footer class="app-footer">
    © 2026 Prathita Kumar Madhusudhana - Student Management System
</footer>
    </body>
</html>
