<!DOCTYPE html>
<html>
    <head>
        <title>Faculty - Students</title>
    </head>
    <body>
        <link rel="stylesheet" th:href="@{/css/style-faculty.css}">
        <h1>Student List</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
            <tr th:each="student:${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.department}"></td>
            </tr>
        </table>
        <br>
        <a th:href="@{/dashboard}">Back to Dashboard</a>
        <footer class="app-footer">
    © 2026 Prathita Kumar Madhusudhana - Student Management System
</footer>
    </body>
</html>
