body{
    font-family: Arial, sans-serif;
    margin: 40px;
    font-size: 20px;
    min-height: 100vh;
}

h1,h2{
    color: navy;
}

.admin-bg{
    background-color: #dffdc8;
}

.faculty-bg{
    background-color: #fbfdc8;
}

.student-bg{
    background-color: #92dbfc;
}

a{
    color: #2980b9;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    padding: 6px 12px;
    background-color: #f82020;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    background-color:#a31515;
}
.app-footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #444;
    opacity: 0.8;
    font-family: Arial, sans-serif;
}
