<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head><title>Add Student</title></head>
    <body>
        <link rel="stylesheet" th:href="@{/css/style-admin.css}">
        <h1>Add Student</h1>
        <form th:action="@{/students}" th:object="${student}" method="post">
            
            <input type="hidden" th:field="*{id}"/>
            
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
            <br><br>
            
            <label>Email:</label>
            <input type="email" th:field="*{email}"/>
            <br><br>
            
            <label>Department</label>
            <input type="text" th:field="*{department}"/>
            <br><br>
            
            <button type="submit">Save</button>
        </form>
        
        <br>
        <a th:href="@{/students}">Back to Student List</a>
        
        <footer class="app-footer">
    © 2026 Prathita Kumar Madhusudhana - Student Management System
</footer>

    </body>
</html>